<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/site.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <table>
            {% for customer in customers %}
                <tr>
                    <td><a href="/customers/{{ customer.id }}">{{ customer.getCompanyName }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>