<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/site.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <h1>Login</h1>
        <form action="/login" method="post"> 
            <table>
                <tr>
                    <td>UserName:</td>
                    <td><input type="text" name="username" tabindex="1" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" tabindex="1" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><span style="float:left;">
                            <input type="submit" name="Submit" value="Login" tabindex="5" class="logInButton" />
                        </span></td>
                </tr>
            </table>
        </form>
    </body>
</html>