<div>
    <a href="/">Home</a>
    <a href="/requests/">Requests</a>
    <a href="/customers/">Customers</a>
    <a href="/settings/">Settings</a>
    <a href="/users/">Users</a>
    <a href="/logout">Log Out</a>
</div>
