<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/site.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div id="pageContainer">
        <h1>{{ requestpage.title }}</h1>
            <form action="{{ postAction }}" method="POST">
                <input class="button big-btn center" type="submit" name="submit" value="Send A Truck">
                <input type="hidden" name="id" value="{{ id }}">
            </form>
        </div>
    </body>
</html>
