<html>
    <body>
        <form action="/sendatruck" method="POST">
            <input type="submit" name="submit" value="Send A Truck">
            <input type="hidden" name="id" value="{{ id }}">
        </form>
    </body>
</html>
