<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/site.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        {% include 'menu.twig' %}
        <h1>Settings</h1>
    </body>
</html>