<html>
    <body>
        <table>
            <thead>
                <td>Customer</td>
                <td>Date Requested</td>
            </thead>
            <tbody>
                {% for truckRequest in truckRequests %}
                    <tr>
                        <td>{{ truckRequest.getCustomerId }}</td>
                        <td>{{ truckRequest.getTimestamp.format("Y-m-d") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>