<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/site.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        {% include 'menu.twig' %}
        <h1>List Users</h1>
        <div><a href="/users/new">New User</a></div>
        <table>
            {% for user in users %}
                <tr>
                    <td><a href="{{ user.getId }}">{{ user.getUserName }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>